<%= turbo_frame_tag :profile do %>
  <div class="block pt-6">
    <div class="flex justify-center">
      <%= image_tag 'avatar.jpg', class: 'rounded-full h-32 w-32' %>
    </div>

    <div class="pt-4 text-2xl font-bold">
      Denys Medynskyi
    </div>

    <div class="text-l text-gray">
      @denysko
    </div>
  </div>
<% end %>
