<div class="border border-white overflow-hidden mb-4">
  <div class="md:flex">
    <div class="p-8 flex">
      <%= image_tag 'avatar.jpg', class: 'rounded-full h-16 w-16' %>

      <div class="flex items-center px-5">
        <%= post.body %>
      </div>
    </div>
  </div>
</div>
