<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl mb-4">
  <div class="md:flex">
    <div class="p-8">
      <p class="mt-2 text-gray-500">
        <%= post.body %>
      </p>
    </div>
  </div>
</div>
